@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>ASP.NET Razor WebApp - for deployment in Azure via CI/CD- Author: Nalin D Jayasuriya</p>
</div>
